    <h1 class="text-center">Welcome to our Library</h1>
    <br />
    <div class="well text-center">
    	<blockquote>
    		<p>Think before you speak. Read before you think.</p>
    		<footer>Fran Lebowitz, The Fran Lebowitz Reader</footer>
    	</blockquote>
    </div>
    <div class="well text-center">
    	<blockquote>
    		<p>Sometimes a cigar is just a cigar. But a book is never just a book.</p>
    		<footer>The Old Sage Bookshop in Prescott, Arizona</footer>
    	</blockquote>
    </div>
    <div class="well text-center">
    	<blockquote>
    		<p>No matter how busy you may think you are, you must find time for reading, or surrender yourself to self-chosen ignorance.</p>
    		<footer>Confucius</footer>
    	</blockquote>
    </div>